.Header{
    font-size: 80px;
}
.signinOptions{
    display: flex;
    width: 100%;
    gap:1rem;
    align-items: center;
    justify-content: space-around;
}

.SignUpPage{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}